<div class="container">
  <div class="vital-signs-form">
    <form [formGroup]="vitalSignsForm">
      <fieldset class="name">
        <label for="name">Nombre:</label>
        <select id="name" formControlName="name" required>
          <option value="">Seleccione un paciente</option>
          <option value="Paciente 1">Paciente 1</option>
          <option value="Paciente 2">Paciente 2</option>
          <option value="Paciente 3">Paciente 3</option>
        </select>
      </fieldset>

      <fieldset class="dateTime">
        <div class="date">
          <label for="date">
            Fecha:
            <input type="date" id="date" formControlName="date" required />
          </label>
        </div>
        <div class="time">
          <label for="time">
            Hora:
            <input type="time" id="time" formControlName="time" required />
          </label>
        </div>
      </fieldset>

      <label for="hr">
        Frecuencia cardiaca (bpm):
        <input type="number" id="hr" formControlName="hr" required />
      </label>
      <label for="rr">
        Frecuencia respiratoria (rpm):
        <input type="number" id="rr" formControlName="rr" required />
      </label>
      <label for="bp">
        Presión arterial (mmHg):
        <input type="number" id="bp" formControlName="bp" required />
      </label>
      <label for="o2">
        Nivel de oxígeno (%):
        <input type="number" id="o2" formControlName="o2" required />
      </label>
      <label for="glucose">
        Nivel de glucosa (mg/dL):
        <input type="number" id="glucose" formControlName="glucose" required />
      </label>
      <fieldset>
        <legend>Funcionamiento corporal</legend>
        <div>
          <label for="urine">
            Orina:
            <input type="checkbox" id="urine" formControlName="urine" />
          </label>
        </div>
        <div>
          <label for="bowel">
            Movimiento intestinal:
            <input type="checkbox" id="bowel" formControlName="bowel" />
          </label>
        </div>
      </fieldset>
      <label for="notes">
        Notas:
        <textarea id="notes" formControlName="notes"></textarea>
      </label>
      <label for="taker">
        Registrador:
        <input type="text" id="taker" formControlName="taker" required />
      </label>
      <button type="submit" [disabled]="vitalSignsForm.invalid">Guardar</button>
    </form>
  </div>
  <div class="values">
    <p>Nombre: {{ vitalSignsForm.value.name }}</p>
    <p>Fecha: {{ vitalSignsForm.value.date }}</p>
    <p>Hora: {{ vitalSignsForm.value.time }}</p>
    <p>Frecuencia cardiaca: {{ vitalSignsForm.value.hr }}</p>
    <p>Frecuencia respiratoria: {{ vitalSignsForm.value.rr }}</p>
    <p>Presión arterial: {{ vitalSignsForm.value.bp }}</p>
    <p>Nivel de oxígeno: {{ vitalSignsForm.value.o2 }}</p>
    <p>Nivel de glucosa: {{ vitalSignsForm.value.glucose }}</p>
    <p>Orina: {{ vitalSignsForm.value.urine }}</p>
    <p>Movimiento intestinal: {{ vitalSignsForm.value.bowel }}</p>
    <p>Notas: {{ vitalSignsForm.value.notes }}</p>
    <p>Registrador: {{ vitalSignsForm.value.taker }}</p>
  </div>
</div>
