<p>home works!</p>
<div class="container">
  <h5>
    Aca podria ir poniendo algo como la documentacion de lo que va estando para
    empezar es bastante sencillo pero lo que hay son simplemente una serie de
    rutas sin ninguna otra logica a nivel visual es exactamente lo que hay el
    logo vuelve a home y los links llevan a cada modulo tambien esta andando una
    page not found cuando se ingresa una ruta que no corresponde tambien podria
    hacer un kanban sencillo que quede compartido bueno hasta aca la version
    0.0.0
  </h5>
</div>
