<div class="container">
  <h1>Alegrapp 0.0.1</h1>
  <div class="about">
    <h2>About?</h2>
    <p>
      Si estas leyendo esto es por que sos del pequeño circulo que colabora con
      este proyecto
    </p>
    <p>
      Por el momento esta portada va a servir a modo de manual de uso y reporte
      de novedades
    </p>
    <p>
      Pienso que de algun modo podria tener un diseño inspirado en las grillas
      de la data de los pacientes
    </p>
    <button>Links a redes sociales</button>
    <button>Telefono de contacto</button>
    <div>
      <button>publinota de como pedir los servicios de alegra</button>
    </div>
    <div><button>publinota de los servicios de alegra</button></div>
  </div>
</div>
