<h2>Dashboar de Admin</h2>
<div class="container">
  <div class="dashboard">
    <div class="patients">
      <h3>Pacientes</h3>
      <button>Ver Reportes</button>
      <button>Ver Pacientes</button>
      <button>Formulario de alta de Paciente</button>
    </div>
    <div class="team">
      <h3>Equipo</h3>
      <button>Ver listado de profesionales</button>
      <button>Ver Informacion de cada uno</button>

      <p>
        <button>Formulario alta de profesional</button>
        <button>Ver Reportes por profesional por fecha</button>
      </p>
    </div>
  </div>
</div>
<app-patient-form></app-patient-form>
<br />
<app-patient-list></app-patient-list>
